html {
  scroll-behavior: smooth;
}

:root {
  --primary-font: 'Unbounded', sans-serif;
  --primary-color: #3A3C35;
  --secondary-color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

h2 {
  font-weight: 500;
  font-size: 100px;
  line-height: 100%;
}

button {
  cursor: pointer;
  border: 1px solid #3a3c35;
  border-radius: 100px;
}

header {
  padding: 45px 60px 60px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
  }

  ul {
    display: flex;
    gap: 48px;
  }

  li {
    transition: 0.3s ease;
    border-bottom: 1px solid transparent;
  }

  li:hover {
    transition: 0.3s ease;
    color: #000;
    border-bottom: 1px solid #000;
  }

  .phone {
    font-weight: 400;
    transition: 0.3s ease;
    border-bottom: 1px solid transparent;

    &:hover {
      transition: 0.3s ease;
      color: #000;
      border-bottom: 1px solid #000;
    }
  }
}

hr {
  margin: 0 auto;
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);
  opacity: 30%;
}

main {
  .title {
    padding: 0 60px;


    h1 {
      margin-block: 50px;
      font-size: 124px;
      font-weight: 500;
      line-height: 110%;
    }

    .title-title {
      display: flex;
      gap: 14px;
      align-items: center;
    }

    p {
      width: 129px;
      font-size: 16px;
    }

    button {
      width: 157px;
      height: 44px;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      transition: 0.3s ease;
    }

    button:hover {
      background-color: var(--primary-color);
      color: var(--secondary-color);
      transition: 0.3s ease;
      cursor: pointer;
    }
  }

  .cars {
    margin-block: 123px 150px;

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1px 1px;
    }

    li {
      position: relative;
    }

    li img {
      width: 100%;
      height: 100%;
    }

    li button img {
      position: unset;
    }

    .car-info {
      padding: 10px;
      position: absolute;
      bottom: 60px;
      left: 60px;
      backdrop-filter: blur(0px);
      transition: 0.5s ease;
      border: 1px solid transparent;
      border-radius: 25px;
    }

    .car-info:hover {
      backdrop-filter: blur(5px);
      transition: 0.5s ease;
      cursor: pointer;
    }

    h3 {
      font-weight: 500;
      font-size: 24px;
      color: var(--secondary-color);
      margin-block: 29px 35px;
    }

    span {
      color: var(--secondary-color);
    }

    div div {
      display: flex;
      align-items: center;
      gap: 12px;
      color: var(--secondary-color);
    }

    button {
      width: 157px;
      height: 44px;
      transition: 0.3s ease;
      z-index: 1;
    }

    button:first-child:hover {
      background-color: var(--primary-color);
      color: var(--secondary-color);
      transition: 0.3s ease;
      cursor: pointer;
    }

    button:last-child {
      background-color: transparent;
      color: var(--secondary-color);
      border: 1px solid var(--secondary-color);
      transition: 0.3s ease;
      z-index: 1;
    }

    button:last-child:hover {
      background-color: var(--secondary-color);
      color: var(--primary-color);
      transition: 0.3s ease;
      cursor: pointer;
      font-weight: 500;
    }

    button img {
      width: unset;
    }

    button a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      font-weight: 500;
      font-size: 14px;
    }

    li:last-child {
      background-color: var(--primary-color);
      position: relative;
    }
  }

  .about-us {
    padding: 0 60px;
    position: relative;

    .about-us-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 129px;
    }

    .about-us-title h2 {
      width: 678px;
    }

    .about-us-title p {
      width: 516px;
      font-size: 20px;
      line-height: 150%;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }

    ul li {
      width: 456px;
      height: 456px;
      border-radius: 50%;
      border: 1px solid var(--primary-color);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    ul li b {
      font-weight: 500;
      font-size: 140px;
    }

    ul li span {
      font-weight: 300;
      font-size: 24px;
    }
  }

  .services {
    padding: 0 60px;
    margin-top: 144px;

    .services-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 60px;
    }

    .services-title button {
      width: 284px;
      height: 50px;
      border: 1px solid var(--primary-color);
      transition: 0.3s ease;
    }

    .services-title button a {
      font-weight: 500;
    }

    .services-title button:hover {
      background-color: var(--primary-color);
      color: var(--secondary-color);
      transition: 0.3s ease;
      cursor: pointer;
      font-weight: 500;
    }

    ul {
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    ul li {
      transition: 0.3s ease;
      position: relative;
    }

    ul li:hover {
      transform: scale(1.05);
      transition: 0.3s ease;
      cursor: pointer;
    }

    ul li span {
      font-weight: 500;
      font-size: 24px;
      color: var(--secondary-color);
      position: absolute;
      top: 85%;
      left: 10%;
      backdrop-filter: blur(5px);
      border-radius: 25px;
      padding: 5px;
    }

    ul li img {
      width: 100%;
      height: 100%;
    }
  }

  .faq {
    padding: 0 60px;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;

    .faq-title {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }

    .faq-title button {
      width: 284px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      transition: 0.3s ease-in-out;
    }

    .faq-title button:hover {
      transition: 0.3s ease-in-out;
      background-color: var(--primary-color);
      color: var(--secondary-color);
    }

    .faq-title button a {
      font-weight: 500;
    }

    .faq-container {
      max-width: 796px;
    }

    .faq-item {
      border-bottom: 1px solid #ccc;
      padding: 28px 0;
      cursor: pointer;
      transition: 0.3s;
    }

    .faq-question {
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.3s;
    }

    .faq-question span {
      font-weight: 500;
      font-size: 24px;
    }

    .faq-question button {
      background: none;
      border: none;
      font-size: 50px;
      font-weight: 200;
      cursor: pointer;
      transition: 0.3s;
    }

    .faq-answer {
      max-height: 0;
      overflow: hidden;
      transition: 0.3s;
      font-size: 16px;
      font-weight: 300;
      color: #555;
    }

    .faq-item.active .faq-answer {
      max-height: 300px;
      opacity: 0.7;
      margin-top: 20px;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
    }

    .faq-item.active .faq-question button {
      transform: rotate(180deg);
    }
  }

  .contacts {
    padding: 0 60px;
    margin-block: 150px 100px;

    .contacts-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 60px;
    }

    .contacts-title h2 {
      width: 583px;
    }

    .contacts-links {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .contacts-links a:first-child {
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
    }

    .contacts-links a:last-child {
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
    }

    .contacts-links button {
      width: 284px;
      height: 50px;
      border: 1px solid var(--primary-color);
      transition: 0.3s ease;
      font-weight: 500;
      margin-top: 45px;
    }

    .contacts-links button:hover {
      background-color: var(--primary-color);
      color: var(--secondary-color);
      transition: 0.3s ease;
      cursor: pointer;
    }

    iframe {
      width: 100%;
      height: 700px;
      border: none;
    }
  }
}

footer {
  padding: 48px 60px;

  .footer-links {
    display: flex;
    justify-content: space-between;
  }

  .footer-policies {
    display: flex;
    flex-direction: column;
    gap: 54px;
  }

  .footer-policies a {
    font-weight: 300;
    font-size: 14px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
  }

  ul li a {
    font-size: 16px;
    border-bottom: 1px solid transparent;
    transition: 0.3s ease;
  }

  ul li a:hover {
    color: #000;
    border-bottom: 1px solid var(--primary-color);
    transition: 0.3s ease;
  }

  .footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }

  .footer-contacts a:first-child {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    border-bottom: 1px solid transparent;
    transition: 0.3s ease;
  }

  .footer-contacts a:last-child {
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
  }

  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    opacity: 0.5;
    margin-top: 154px;
  }
}